{% extends 'base.jinja' %}

{% block content %}
<p>
<h3> Hallo und Willkommen zur begleitenden Umfrage meiner Bachelorarbeit! </h3>
<p>
Erst einmal vielen Dank, dass du dir die Zeit nimmst, mich bei meiner Arbeit unterstützen zu wollen. <br>
Wie üblich, gilt natürlich auch bei dieser Umfrage, dass die Daten 100% anonym gesammelt und ausschließlich im Rahmen meiner wissenschaftlichen Arbeit genutzt werden.<br>
<br>
Was euch erwartet:<br>
- Ein paar Fragen zu eurer Person <br>
- Frage und Beispiele zur Tagging-Erfahrung <br>
- Interaktive Taggingaufgaben <br>
- ein kurzer Feedback-Teil<br>
<br>
Wenn euch das nicht abgeschreckt hat, wünsche ich dir viel Spaß in den nächsten 30 Minuten.<br>
<br>
<p>
<button onclick="location.href='/umfrage1'">Start</button>
</p>
 </p>
</p>
{% endblock %}