<html>
<body>
<?php
    session_start();
?>
Taggen = Schlagworte für ein digitales Objekt vergeben.<br>
Nutzen: Wiederauffindbarkeit etc (Beispiel Hashtags auf Twitter) ODER Inhaltserschließung -> Retrieval (Beispiel Tags von Bildern, Videos). <br>
Eigenes Beispiel geben.<br>
<form action="bacheloraufgaben.php">
    <input type="submit" value="Habs kapiert">
</form>
</body>


</html>